body{
    margin: 0;
    padding: 0;
    font-family:sans-serif ;
    width: 100vw;
    height: 100vh;
    
}

/* navbar section  */
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
}

#brand{
    font-size: 1.4rem;
    /* color: crimson; */
    font-weight: bolder;
    cursor: pointer;
}

nav ul{
    display: flex;
    list-style-type:none ;
    gap: 75px;
    color: black;
    font-style: italic;
}


nav ul li{
    cursor: pointer;
    font-weight: 500;
}
nav ul li:hover{
    color: red;
}

nav .cta{
    color: #fff;
    border: none;
    background-color: crimson;
    padding: 6px 15px;
    border-radius: 6px;
    font-weight: bold;
}
.mobile-menu{
    display: none;
}

/* main section  */
main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
img{
    width: 342px;
    margin-right: 37px;
    mix-blend-mode: darken;
    
}
h1{
    /* font-size: 2rem; */
    font-size: 4rem;
    font-weight: bold;
}
section p{
    color: #616161;
    margin-left: 10px;
    font-size: 25px;
    
}
section button{
    background-color: transparent;
    border: none;
    margin: 20px;
    color: blue;
    font-size: 2 rem;
    cursor: pointer;
}

section button:hover{
    text-decoration: underline;
}

button span{
    font-size: 1 rem;
}

/* mobiles */
@media screen and (max-width:700px){
   
    nav ul,button{
        display: none;
    }

    .mobile-menu{
        display: block;
        cursor: pointer;
    }

    main{
        flex-direction: column;
    }

    section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    img{
        width: 250px;
    }
    
}